.title{
  display:block;
  font-size: 138px;
  word-break: break-all;
  line-height: 1.5;
  width: 100%;
  max-width: 9ch;
  display: grid;
  grid-template-columns: [full-width-start] repeat(10,1fr) [full-width-end];
  grid-auto-rows: max-content;
  overflow: hidden;
}
.title > .fullWord{
  grid-column: full-width;
  /* background-color: white; */
}
.title > .squishyLetter{
  /* background-color: white; */
  grid-row: 1;
  /* text-align: center; */
}
.title > .squishyLetter.w{
  grid-column: 1/3;
}
.title > .squishyLetter.o{
  grid-column: 3/5;
}
.title > .squishyLetter.r{
  grid-column: 5/7;
}
.title > .squishyLetter.s{
  grid-column: 7/9;
}
.title > .squishyLetter.t{
  grid-column: 9/11;
  text-align: right;
}


.gridBody{
  background-color: red;
  display: grid;
  grid-template-columns: [full-width-start] 1fr [full-width-end];
}

.gridBody > *{
  grid-column: full-width;
}