.title{
  display:block;
  font-size: 138px;
  line-height: 1.2;
  width: 100%;
  max-width: 13ch;
  display: grid;
  grid-template-columns: [full-width-start] repeat(9,1fr) [full-width-end];
  grid-template-rows: min-content min-content min-content;
  overflow: hidden;
}
.title > .the{
  font-size: 14px;
  grid-column: full-width;
  grid-row: 1;
}
.title > .worst{
  letter-spacing: .3em;
  grid-column: full-width;
  grid-row: 2;
  background-color: #121212;
}
.title > .editions{
  grid-column: full-width;
  font-size: 125px;
  /* background-color: white; */
  letter-spacing: .2em;
}

.main{
  grid-column: feature;
}
.blogPostSection{
  /* width: min(100%,70ch); */
  margin-bottom: 7rem;
  background-color: #121212;
}

.blogPostList{
  list-style-type: none;
}
