.title{
  display:block;
  font-size: 138px;
  line-height: 1.2;
  width: 100%;
  max-width: 13ch;
  display: grid;
  grid-template-columns: [full-width-start] repeat(9,1fr) [full-width-end];
  grid-template-rows: min-content min-content min-content;
  overflow: hidden;
}
.title > .the{
  font-size: 14px;
  grid-column: full-width;
  grid-row: 1;
}
.title > .worst{
  letter-spacing: .3em;
  grid-column: full-width;
  grid-row: 2;
  background-color: white;
}
.title > .editions{
  grid-column: full-width;
  font-size: 125px;
  /* background-color: white; */
  letter-spacing: .2em;
}

.gridBody{
  background-color: red;
  display: grid;
  grid-template-columns: 1rem [full-width-start] 1fr [full-width-end] 1rem;
}

.gridBody > *{
  grid-column: full-width;
}
.navList{
  list-style-type: none;
  display:flex;
  width: 100%;
  border: 2px solid black;
}
.navList > li{
  flex: 1;
}
.navList a{
  display:block;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  letter-spacing: .1em;
}
.navList li + li {
  border-left: 2px solid black;
}
.navList a:hover{
  color: white;
}